

block header
  div.navbar.navbar-inverse.navbar-fixed-top
    div.container
      div.navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Time That Resturant
      div.navbar-collapse.collapse
        form.navbar-form.navbar-right(action="/login/", method="post")
          div.form-group
            input.form-control(type="text", placeholder="Email", name="name")
          div.form-group
            input.form-control(type="password", placeholder="Password", name="password")
          button.btn.btn-success#login_button Sign In


  