extends layout

block content

  div.jumbotron
    div.container
      h1 Hello!
      p Short on time? find the resturants that get you your food fastest... Let's be honest, that's the real measure of resturant quality.
      a.btn.btn-primary.btn-lg Learn More

  div.container
    div.row
      div.col-md-4
        h2 Recent Timers
        p Check out the resturants that are being timed right now!
        p
          a.btn.btn-default(href="#") View
      div.col-md-4
        h2 Recent Timers
        p Check out the resturants that are being timed right now!
        p
          a.btn.btn-default(href="#") View
      div.col-md-4
        h2 Recent Timers
        p Check out the resturants that are being timed right now!
        p
          a.btn.btn-default(href="#") View
  
  //h1= title
  //p Welcome to #{title}