extends layout

block content
  
  div.container
    h1 Add Resturant
    form(action="/resturant/add/", method="post")
      input(type="text", name="name", placeholder="Name")
      input(type="submit" value="Submit")