extends layout

block content
  
  div.container
    h1 Recent Times

    div.row
      each item in res
        div.col-md-4
          h2= item.name
          p= item.desc
          p
            a.btn.btn-default(href="/resturant/#{item.id}/") View



//div.col-md-4
//  h2 Recent Timers
//  p Check out the resturants that are being timed right now!
//  p
//    a.btn.btn-default(href="#") View
//div.col-md-4
//  h2 Recent Timers
//  p Check out the resturants that are being timed right now!
//  p
//    a.btn.btn-default(href="#") View
//div.col-md-4
//  h2 Recent Timers
//  p Check out the resturants that are being timed right now!
//  p
//    a.btn.btn-default(href="#") View


//h1= title
//p Welcome to #{title}


// each item in times
// p= item.recent_times

