extends layout

block content
  
  div.container
    h1= title
    
    form(action="/register/user/", method="post")
      input(type="text", name="name", placeholder="Name")
      input(type="password", name="password", placeholder="Password")
      input(type="submit" value="Submit")