extends layout

block content
  
  div.container
    h1 Resturant: #{result.name}
    p Description: #{result.desc}

    
    





//h1= title
//p Welcome to #{title}


// each item in times
// p= item.recent_times

